Repository ashitano-dev/pokepoke: changes, and which lefthook commands are due for each by the changed paths.
All: backend, mobile, other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    backend:
      root: apps/backend/
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --config-path ./biome.json {staged_files}
      stage_fixed: true

    mobile:
      root: apps/mobile/
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --config-path ./biome.json {staged_files}
      stage_fixed: true

    other:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --config-path ./biome.json {staged_files}
      stage_fixed: true
      exclude:
        - apps/backend/**/*.{js,ts,jsx,tsx}
        - apps/mobile/**/*.{js,ts,jsx,tsx}

🎈 feat(backend/repository/user): update friendship handling in UserRepository and add findFriendShipByUserIdAndFriendId method
  apps/backend/src/interface-adapter/repositories/user/interfaces/user.repository.interface.ts
  apps/backend/src/interface-adapter/repositories/user/user.repository.ts
Due: backend

✨ feat(backend/error): add NotFoundException for handling 404 errors
  apps/backend/src/modules/error/exceptions.ts
  apps/backend/src/modules/error/index.ts
Due: backend

🎈 feat(backend/use-cases/friend): add to create packs for new friendships
  apps/backend/src/application/use-cases/friend/apply-friend.usecase.ts
Due: backend

✨ feat(backend/routes/pack): add routes for managing cards and retrieving friend packs
  apps/backend/src/routes/global-instances.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/me/friend/get-friends.ts
  apps/backend/src/routes/me/profile.ts
  apps/backend/src/routes/pack/add-card.ts
  apps/backend/src/routes/pack/get-card-image.ts
  apps/backend/src/routes/pack/get-friend-pack.ts
  apps/backend/src/routes/pack/index.ts
Due: backend

✨ feat(backend/use-cases/pack): add use cases for adding and retrieving cards, including image generation and error handling
  apps/backend/src/application/use-cases/pack/add-card.usecase.ts
  apps/backend/src/application/use-cases/pack/generate-card-image/fonts/chango-regular.ttf
  apps/backend/src/application/use-cases/pack/generate-card-image/fonts/m-plus-rounded1c-extra-bold.ttf
  apps/backend/src/application/use-cases/pack/generate-card-image/fonts/m-plus-rounded1c-medium.ttf
  apps/backend/src/application/use-cases/pack/generate-card-image/generate-card-image.tsx
  apps/backend/src/application/use-cases/pack/generate-card-image/images/calendar.png
  apps/backend/src/application/use-cases/pack/generate-card-image/images/dia.png
  apps/backend/src/application/use-cases/pack/generate-card-image/images/ex.png
  apps/backend/src/application/use-cases/pack/generate-card-image/images/gaiji.jpg
  apps/backend/src/application/use-cases/pack/generate-card-image/images/map.png
  apps/backend/src/application/use-cases/pack/generate-card-image/index.ts
  apps/backend/src/application/use-cases/pack/get-card-image.ts
  apps/backend/src/application/use-cases/pack/get-friend-pack.usecase.ts
  apps/backend/src/application/use-cases/pack/index.ts
  apps/backend/src/application/use-cases/pack/interfaces/add-card.usecase.interface.ts
  apps/backend/src/application/use-cases/pack/interfaces/get-card-image.interface.ts
  apps/backend/src/application/use-cases/pack/interfaces/get-friend-pack.usecase.interface.ts
Due: backend

✨ feat(backend/presenters): refactor presenter functions to use PascalCase and add Pack and Card presenters
  apps/backend/src/interface-adapter/presenters/friend-user.ts
  apps/backend/src/interface-adapter/presenters/index.ts
  apps/backend/src/interface-adapter/presenters/pack.ts
  apps/backend/src/interface-adapter/presenters/user.ts
Due: backend

📦️ build(backend): add Supabase, Satori, and Sharp dependencies to package.json
  apps/backend/package.json
  pnpm-lock.yaml
Due: other

✨ feat(backend/entities/trade): add Trade and TradCard entities with creation and update functions
  apps/backend/src/domain/entities/index.ts
  apps/backend/src/domain/entities/trade.ts
  apps/backend/src/domain/value-object/ids.ts
  apps/backend/src/domain/value-object/index.ts
Due: backend

✨ feat(backend/schema): add trades and tradesCards tables with relationships to users and cards
  apps/backend/src/infrastructure/drizzle/schema/index.ts
  apps/backend/src/infrastructure/drizzle/schema/trades-cards.ts
  apps/backend/src/infrastructure/drizzle/schema/trades.ts
Due: backend

✨ feat(backend/migrations): add trades and trades_cards tables with foreign key constraints and permissions
  apps/backend/drizzle/migrations/0005_worthless_daredevil.sql
  apps/backend/drizzle/migrations/meta/0005_snapshot.json
  apps/backend/drizzle/migrations/meta/_journal.json
  supabase/migrations/20250320114057_pokepoke.sql
Due: other

✨ feat(backend/repositories/trade): implement TradeRepository with CRUD operations and interfaces for trade management
  apps/backend/src/interface-adapter/repositories/trade/index.ts
  apps/backend/src/interface-adapter/repositories/trade/interfaces/trade.repository.interface.ts
  apps/backend/src/interface-adapter/repositories/trade/trade.repository.ts
Due: backend

✨ feat(backend/use-cases/trade): add use cases and interfaces for trade requests and retrieval
  apps/backend/src/application/use-cases/trade/get-all-friend-trades.ts
  apps/backend/src/application/use-cases/trade/get-trade.ts
  apps/backend/src/application/use-cases/trade/index.ts
  apps/backend/src/application/use-cases/trade/interfaces/get-all-friend-trades.interface.ts
  apps/backend/src/application/use-cases/trade/interfaces/get-trade.interface.ts
  apps/backend/src/application/use-cases/trade/interfaces/trade-confirm.usecase.interface.ts
  apps/backend/src/application/use-cases/trade/interfaces/trade-request.usecase.interface.ts
  apps/backend/src/application/use-cases/trade/trade-confirm.usecase.ts
  apps/backend/src/application/use-cases/trade/trade-request.usecase.ts
Due: backend

✨ feat(backend/routes/trade): add trade-related endpoints for confirming, requesting, and retrieving trades
  apps/backend/src/routes/global-instances.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/trade/confirm-pack-trade.ts
  apps/backend/src/routes/trade/get-all-friend-trades.ts
  apps/backend/src/routes/trade/get-trade.ts
  apps/backend/src/routes/trade/index.ts
  apps/backend/src/routes/trade/request-pack-trade.ts
Due: backend

✨ feat(backend/interface-adapter/presenters): add TradePresenter and TradeListPresenter for trade data representation
  apps/backend/src/interface-adapter/presenters/index.ts
  apps/backend/src/interface-adapter/presenters/trade.ts
  apps/backend/src/routes/trade/confirm-pack-trade.ts
  apps/backend/src/routes/trade/get-all-friend-trades.ts
  apps/backend/src/routes/trade/get-trade.ts
Due: backend

♻️ refactor: (backend/domain/entities): refactor trade and pack entities to include friendshipId and update naming conventions
  apps/backend/src/domain/entities/index.ts
  apps/backend/src/domain/entities/pack.ts
  apps/backend/src/domain/entities/trade.ts
  apps/backend/src/domain/value-object/ids.ts
  apps/backend/src/domain/value-object/index.ts
  apps/backend/src/domain/value-object/status.ts
Due: backend

♻️ refactor(backend/infrastructure/drizzle)!: update table relation and table column
  apps/backend/src/infrastructure/drizzle/schema/friendships.ts
  apps/backend/src/infrastructure/drizzle/schema/packs.ts
  apps/backend/src/infrastructure/drizzle/schema/trades-cards.ts
  apps/backend/src/infrastructure/drizzle/schema/trades.ts
Due: backend

♻️ refactor(database/migrations)!: update constraints and add new columns for friendships, packs, and trades
  apps/backend/drizzle/migrations/0006_smart_patriot.sql
  apps/backend/drizzle/migrations/meta/0006_snapshot.json
  apps/backend/drizzle/migrations/meta/_journal.json
  apps/backend/drizzle/seed.ts
  supabase/migrations/20250320174256_pokepoke.sql
Due: backend, other

♻️ refactor(database/migrations): clean up JSON formatting in migration snapshots and journal
  apps/backend/drizzle/migrations/meta/0006_snapshot.json
  apps/backend/drizzle/migrations/meta/_journal.json
Due: other

♻️ refactor(backend/interface-adapter/repositories): update user, pack, and trade repository interfaces to use user1/user2 and friendshipId
  apps/backend/src/interface-adapter/repositories/pack/interfaces/pack.repository.interface.ts
  apps/backend/src/interface-adapter/repositories/pack/pack.repository.ts
  apps/backend/src/interface-adapter/repositories/trade/interfaces/trade.repository.interface.ts
  apps/backend/src/interface-adapter/repositories/trade/trade.repository.ts
  apps/backend/src/interface-adapter/repositories/user/interfaces/user.repository.interface.ts
  apps/backend/src/interface-adapter/repositories/user/user.repository.ts
Due: backend

♻️ refactor(interface-adapter/presenters): update pack and trade presenter
  apps/backend/src/interface-adapter/presenters/pack.ts
  apps/backend/src/interface-adapter/presenters/trade.ts
Due: backend

♻️ refactor(application/use-cases/friend): rename variables and update friendship handling logic
  apps/backend/src/application/use-cases/friend/apply-friend.usecase.ts
Due: backend

♻️ refactor(application/use-cases/pack): update add and get friend pack use cases to utilize friendship logic
  apps/backend/src/application/use-cases/pack/add-card.usecase.ts
  apps/backend/src/application/use-cases/pack/get-friend-pack.usecase.ts
Due: backend

♻️ refactor(application/use-cases/trade): update trade use cases to incorporate friendship logic and improve error handling
  apps/backend/src/application/use-cases/trade/get-all-friend-trades.ts
  apps/backend/src/application/use-cases/trade/get-trade.ts
  apps/backend/src/application/use-cases/trade/interfaces/get-trade.interface.ts
  apps/backend/src/application/use-cases/trade/interfaces/trade-confirm.usecase.interface.ts
  apps/backend/src/application/use-cases/trade/interfaces/trade-request.usecase.interface.ts
  apps/backend/src/application/use-cases/trade/trade-confirm.usecase.ts
  apps/backend/src/application/use-cases/trade/trade-request.usecase.ts
Due: backend

♻️ refactor(routes): update trade and pack routes to include friendId and enhance error handling
  apps/backend/src/routes/global-instances.ts
  apps/backend/src/routes/pack/add-card.ts
  apps/backend/src/routes/trade/confirm-pack-trade.ts
  apps/backend/src/routes/trade/get-trade.ts
  apps/backend/src/routes/trade/request-pack-trade.ts
Due: backend

✨ feat(backend/repository/pack): add pack card collection method
  apps/backend/src/interface-adapter/repositories/pack/interfaces/pack.repository.interface.ts
  apps/backend/src/interface-adapter/repositories/pack/pack.repository.ts
Due: backend

✨ feat(backend/repository/pack): add PackCardCollection use case and interface for retrieving card collections from friends
  apps/backend/src/application/use-cases/pack/index.ts
  apps/backend/src/application/use-cases/pack/interfaces/pack-card-collection.usecase.interface.ts
  apps/backend/src/application/use-cases/pack/pack-card-collection.usecase.ts
Due: backend

✨ feat(routes/pack): add PackCardCollection route for retrieving friends' card collections
  apps/backend/src/routes/global-instances.ts
  apps/backend/src/routes/pack/index.ts
  apps/backend/src/routes/pack/pack-card-collecton.ts
Due: backend

⚙️ chore(mobile/git): android ディレクトリを git の管理から除外するように修正
  apps/mobile/.gitignore
Due: none

⚙️ chore(mobile): icon と splash を設定
  apps/mobile/app.json
  apps/mobile/assets/images/icon.png
  apps/mobile/assets/images/partial-react-logo.png
  apps/mobile/assets/images/react-logo.png
  apps/mobile/assets/images/react-logo@2x.png
  apps/mobile/assets/images/react-logo@3x.png
  apps/mobile/assets/images/splash-icon.png
  apps/mobile/assets/images/splash.png
Due: other

🎈 feat(backend): update domain attribute to use dynamic backend base URL
  apps/backend/src/modules/cookie/cookie.service.ts
Due: backend

🎈 feat(backend): update logger
  apps/backend/build.ts
  apps/backend/package.json
  apps/backend/src/routes/index.ts
  pnpm-lock.yaml
Due: backend, other

🐳 container(docker): add production Dockerfile and .dockerignore
  .dockerignore
  docker/api/Dockerfile.production
Due: none

🐳 container(docker): add production Dockerfile for backend
  docker/backend/Dockerfile.production
Due: none

🐳 container(docker): update production Dockerfile to include node_modules and package.json
  docker/backend/Dockerfile.production
Due: none

🔥 hotfix(docker):
  docker/backend/Dockerfile.production
Due: none

🔥 hotfix:
  .dockerignore
Due: none

🎈 feat: update baseUrl
  apps/backend/src/routes/index.ts
  packages/core/src/utils/get-base-url.ts
Due: backend, other

🐳 container(docker): update .dockerignore to exclude dist directory and fix build command for copying assets
  .dockerignore
  apps/backend/package.json
Due: other

✨ feat((eden-fetcher)): add new package with fetcher functionality and update dependencies
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/mobile/package.json
  packages/eden-fetcher/biome.json
  packages/eden-fetcher/package.json
  packages/eden-fetcher/src/fetcher.ts
  packages/eden-fetcher/src/index.ts
  packages/eden-fetcher/tsconfig.json
  pnpm-lock.yaml
Due: backend, other
