Repository ashitano-dev/pokepoke: changes, and which lefthook commands are due for each by the changed paths.
All: backend, mobile, other

backend:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --config-path ./biome.json {staged_files}
  stage_fixed: true

mobile:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --config-path ./biome.json {staged_files}
  stage_fixed: true

other:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --config-path ./biome.json {staged_files}
  stage_fixed: true

📦 dep(backend): add supabase and drizzle
  apps/backend/drizzle.config.ts
  apps/backend/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: backend, other

✨ feat(backend/drizzle): implement DrizzleService and user schema for database integration
  apps/backend/src/infrastructure/drizzle/drizzle.service.ts
  apps/backend/src/infrastructure/drizzle/index.ts
  apps/backend/src/infrastructure/drizzle/schema/index.ts
  apps/backend/src/infrastructure/drizzle/schema/users.ts
Due: backend

✨ feat(supabase): initialize supabase configuration
  .cspell.json
  supabase/.gitignore
  supabase/config.toml
Due: other

🎈 feat: add table migration
  apps/backend/drizzle/migrations/0000_right_lizard.sql
  apps/backend/drizzle/migrations/meta/0000_snapshot.json
  apps/backend/drizzle/migrations/meta/_journal.json
  supabase/migrations/20250317095544_pokepoke.sql
Due: other

✨ feat(backend): add domain model
  apps/backend/src/domain/entities/index.ts
  apps/backend/src/domain/entities/oauth-account.ts
  apps/backend/src/domain/entities/session.ts
  apps/backend/src/domain/entities/user.ts
  apps/backend/src/domain/value-object/ids.ts
  apps/backend/src/domain/value-object/index.ts
  apps/backend/src/domain/value-object/oauth-provider.ts
Due: backend

🎈 feat(backend): update database schema
  apps/backend/src/infrastructure/drizzle/drizzle.service.ts
  apps/backend/src/infrastructure/drizzle/schema/index.ts
  apps/backend/src/infrastructure/drizzle/schema/oauth-accounts.ts
  apps/backend/src/infrastructure/drizzle/schema/sessions.ts
  apps/backend/src/infrastructure/drizzle/schema/users.ts
Due: backend

🔧 chore(backend): add database migration file
  apps/backend/drizzle/migrations/0001_known_phantom_reporter.sql
  apps/backend/drizzle/migrations/meta/0001_snapshot.json
  apps/backend/drizzle/migrations/meta/_journal.json
  packages/core/tsconfig.json
Due: other

✨ feat(backend): add utility functions and constants
  apps/backend/src/common/constants/cookie.ts
  apps/backend/src/common/constants/index.ts
  apps/backend/src/common/constants/session.ts
  apps/backend/src/common/types.ts
  apps/backend/src/common/utils/convert-redirectable-mobile-scheme.ts
  apps/backend/src/common/utils/generate-random-value.ts
  apps/backend/src/common/utils/index.ts
  apps/backend/src/common/utils/new-type.ts
  apps/backend/src/common/utils/read-bearer-token.ts
  apps/backend/src/common/utils/result.ts
  apps/backend/src/common/utils/time-span.ts
  apps/backend/src/common/utils/validate-redirect-url.ts
Due: backend

✨ feat(backend): implement OAuth provider gateway for Discord
  apps/backend/src/interface-adapter/gateway/oauth-provider/index.ts
  apps/backend/src/interface-adapter/gateway/oauth-provider/interfaces/oauth-provider.gateway.interface.ts
  apps/backend/src/interface-adapter/gateway/oauth-provider/oauth-provider.gateway.ts
  apps/backend/src/interface-adapter/gateway/oauth-provider/providers/discord.gateway.ts
Due: backend

✨ feat(backend): implement user, session, and OAuth account repositories with interfaces
  apps/backend/src/interface-adapter/repositories/oauth-account/index.ts
  apps/backend/src/interface-adapter/repositories/oauth-account/interfaces/oauth-account.repository.interface.ts
  apps/backend/src/interface-adapter/repositories/oauth-account/oauth-account.repository.ts
  apps/backend/src/interface-adapter/repositories/session/index.ts
  apps/backend/src/interface-adapter/repositories/session/interfaces/session.repository.interface.ts
  apps/backend/src/interface-adapter/repositories/session/session.repository.ts
  apps/backend/src/interface-adapter/repositories/user/index.ts
  apps/backend/src/interface-adapter/repositories/user/interfaces/user.repository.interface.ts
  apps/backend/src/interface-adapter/repositories/user/user.repository.ts
Due: backend

✨ feat(backend): add CookieService for managing cookies with attributes
  apps/backend/src/modules/cookie/cookie.service.ts
  apps/backend/src/modules/cookie/index.ts
Due: backend

✨ feat(backend): add CORS plugin for handling cross-origin requests
  apps/backend/src/modules/cors/cors.plugin.ts
  apps/backend/src/modules/cors/index.ts
Due: backend

✨ feat(backend): add environment configuration and validation schemas
  apps/backend/src/modules/env/env.ts
  apps/backend/src/modules/env/index.ts
  apps/backend/src/modules/env/schema.ts
  apps/backend/src/modules/env/type.ts
Due: backend

✨ feat(backend): implement centralized error handling with custom exceptions and response schemas
  apps/backend/src/modules/error/error.plugin.ts
  apps/backend/src/modules/error/exceptions.ts
  apps/backend/src/modules/error/index.ts
  apps/backend/src/modules/error/response.schema.ts
Due: backend

✨ feat(backend): implement session management use cases and services for authentication
  apps/backend/src/application/services/session-token/index.ts
  apps/backend/src/application/services/session-token/interfaces/session-token.service.interface.ts
  apps/backend/src/application/services/session-token/session-token.service.ts
  apps/backend/src/application/use-cases/auth/index.ts
  apps/backend/src/application/use-cases/auth/interfaces/logout.usecase.interface.ts
  apps/backend/src/application/use-cases/auth/interfaces/validate-session.usecase.ts
  apps/backend/src/application/use-cases/auth/logout.usecase.ts
  apps/backend/src/application/use-cases/auth/validate-session.usecase.ts
  apps/backend/src/application/use-cases/oauth/index.ts
  apps/backend/src/application/use-cases/oauth/interfaces/oauth-login-callback.usecase.interface.ts
  apps/backend/src/application/use-cases/oauth/interfaces/oauth-request.usecase.interface.ts
  apps/backend/src/application/use-cases/oauth/oauth-login-callback.usecase.ts
  apps/backend/src/application/use-cases/oauth/oauth-request.usecase.ts
Due: backend

✨ feat(backend): add authentication guard plugin for session validation and user verification
  apps/backend/src/modules/auth-guard/auth-guard.plugin.ts
  apps/backend/src/modules/auth-guard/index.ts
Due: backend

✨ feat(core): add core package with configuration, utility functions, and base URL retrieval
  packages/core/biome.json
  packages/core/package.json
  packages/core/src/utils/get-base-url.ts
  packages/core/src/utils/index.ts
Due: other

✨ feat(backend): restructure authentication routes and implement OAuth login flow
  apps/backend/src/app/index.ts
  apps/backend/src/routes/auth/index.ts
  apps/backend/src/routes/auth/logout.ts
  apps/backend/src/routes/auth/oauth-callback.ts
  apps/backend/src/routes/auth/oauth-request.ts
  apps/backend/src/routes/global-instances.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/server.ts
Due: backend

🔧 chore:
  .cspell.json
  apps/backend/.env.example
  apps/backend/build.ts
  apps/backend/package.json
  pnpm-lock.yaml
  supabase/migrations/20250318175315_pokepoke.sql
Due: backend, other

🔧 chore: simplify .cspell.json by consolidating dictionaries and ignorePaths
  .cspell.json
Due: other

✨ feat(backend/use-cases): implement apply friend and create friend invite token use cases
  apps/backend/src/application/use-cases/friend/apply-friend.ts
  apps/backend/src/application/use-cases/friend/create-friend-invite-token.ts
  apps/backend/src/application/use-cases/friend/index.ts
  apps/backend/src/application/use-cases/friend/interfaces/apply-friend.interface.ts
  apps/backend/src/application/use-cases/friend/interfaces/create-friend-invite-token.interface.ts
Due: backend

✨ feat(backend/repositories): implement FriendInviteTokenRepository
  apps/backend/src/interface-adapter/repositories/friend-invite-token/friend-invite-token.repository.ts
  apps/backend/src/interface-adapter/repositories/friend-invite-token/index.ts
  apps/backend/src/interface-adapter/repositories/friend-invite-token/interfaces/friend-invite-token.repository.interface.ts
Due: backend

💄 style(backend/usecases): rename
  apps/backend/src/application/use-cases/friend/apply-friend.usecase.ts
  apps/backend/src/application/use-cases/friend/create-friend-invite-token.usecase.ts
  apps/backend/src/application/use-cases/friend/index.ts
  apps/backend/src/application/use-cases/friend/interfaces/apply-friend.usecase.interface.ts
  apps/backend/src/application/use-cases/friend/interfaces/create-friend-invite-token.usecase.interface.ts
Due: backend

✨ feat(backend/constants): add friend invite token expiration constants
  apps/backend/src/common/constants/index.ts
  apps/backend/src/common/constants/token.ts
Due: backend

✨ feat(backend/infra): add FriendInviteToken and Friendship entities with relationships
  apps/backend/src/infrastructure/drizzle/schema/friend-invite-tokens.ts
  apps/backend/src/infrastructure/drizzle/schema/friendships.ts
  apps/backend/src/infrastructure/drizzle/schema/index.ts
Due: backend

✨ feat(backend/use-cases): implement GetUserFriends use case to retrieve user's friends
  apps/backend/src/application/use-cases/friend/get-user-friends.ts
  apps/backend/src/application/use-cases/friend/index.ts
  apps/backend/src/application/use-cases/friend/interfaces/get-user-friends.usecase.interface.ts
Due: backend

✨ feat(backend/repositories): add methods to find friends and add friendships in UserRepository
  apps/backend/src/interface-adapter/repositories/user/interfaces/user.repository.interface.ts
  apps/backend/src/interface-adapter/repositories/user/user.repository.ts
Due: backend

🏎️ perf(backend/repository): optimize findFriendsByUserId query using SQL CASE statement
  apps/backend/src/interface-adapter/repositories/user/user.repository.ts
Due: backend

✨ feat(backend): add friend_invite_tokens and friendships tables migration files
  apps/backend/drizzle/migrations/0002_medical_grey_gargoyle.sql
  apps/backend/drizzle/migrations/meta/0002_snapshot.json
  apps/backend/drizzle/migrations/meta/_journal.json
  supabase/migrations/20250319080836_pokepoke.sql
Due: other

✨ feat(backend/domain): add FriendInviteToken entity and related functions
  apps/backend/src/domain/entities/friend-invite-token.ts
  apps/backend/src/domain/entities/index.ts
  apps/backend/src/domain/value-object/ids.ts
  apps/backend/src/domain/value-object/index.ts
Due: backend

✨ feat(backend/presenters): add user presenter
  apps/backend/src/interface-adapter/presenters/friend-user.ts
  apps/backend/src/interface-adapter/presenters/index.ts
  apps/backend/src/interface-adapter/presenters/user.ts
Due: backend

📦 dep(backend): add packages and database script
  apps/backend/package.json
  pnpm-lock.yaml
Due: other

🛠️ chore(backend/drizzle): add seed script file
  apps/backend/drizzle/seed.ts
Due: backend

✨ feat(routes/me/friend): add friend management endpoints for applying, creating invite tokens, and retrieving friends
  apps/backend/src/routes/global-instances.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/me/friend/apply-friend.ts
  apps/backend/src/routes/me/friend/create-friend-invite-token.ts
  apps/backend/src/routes/me/friend/get-friends.ts
  apps/backend/src/routes/me/friend/index.ts
  apps/backend/src/routes/me/index.ts
  apps/backend/src/routes/me/profile.ts
  apps/backend/src/server.ts
Due: backend

✨ feat(backend/domain): add Card and Pack entities
  apps/backend/src/domain/entities/card.ts
  apps/backend/src/domain/entities/index.ts
  apps/backend/src/domain/entities/pack.ts
  apps/backend/src/domain/value-object/ids.ts
  apps/backend/src/domain/value-object/index.ts
Due: backend

🎈 feat(backend/database): add table migration
  apps/backend/drizzle/migrations/0003_fat_iron_fist.sql
  apps/backend/drizzle/migrations/0004_freezing_hellcat.sql
  apps/backend/drizzle/migrations/meta/0003_snapshot.json
  apps/backend/drizzle/migrations/meta/0004_snapshot.json
  apps/backend/drizzle/migrations/meta/_journal.json
  apps/backend/drizzle/seed.ts
  supabase/migrations/20250319233331_pokepoke.sql
  supabase/migrations/20250320050825_pokepoke.sql
Due: backend, other

✨ feat(backend/drizzle): add Cards and Packs schema definitions
  apps/backend/src/infrastructure/drizzle/schema/cards.ts
  apps/backend/src/infrastructure/drizzle/schema/friendships.ts
  apps/backend/src/infrastructure/drizzle/schema/index.ts
  apps/backend/src/infrastructure/drizzle/schema/packs.ts
Due: backend

✨ feat(backend/supabase): add Supabase service and update environment variables
  apps/backend/.env.example
  apps/backend/src/infrastructure/supabase/index.ts
  apps/backend/src/infrastructure/supabase/supabase.service.ts
  apps/backend/src/modules/env/schema.ts
Due: backend

✨ feat(backend/image): add ImageRepository for image storage and retrieval
  apps/backend/src/interface-adapter/repositories/image/image.repository.ts
  apps/backend/src/interface-adapter/repositories/image/index.ts
  apps/backend/src/interface-adapter/repositories/image/interfaces/image.repository.interface.ts
Due: backend

✨ feat(backend/pack): implement PackRepository for managing packs and cards
  apps/backend/src/interface-adapter/repositories/pack/index.ts
  apps/backend/src/interface-adapter/repositories/pack/interfaces/pack.repository.interface.ts
  apps/backend/src/interface-adapter/repositories/pack/pack.repository.ts
Due: backend

Path conditions:
  backend: any of: *.{js,ts,jsx,tsx} and ^apps/backend/
  mobile: any of: *.{js,ts,jsx,tsx} and ^apps/mobile/
  other: any of: *.{js,ts,jsx,tsx,json}, but not: apps/backend/**/*.{js,ts,jsx,tsx}, apps/mobile/**/*.{js,ts,jsx,tsx}
