Repository ashitano-dev/pokepoke: changes, and which lefthook commands are due for each by the changed paths.
All: backend, mobile, other

backend:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --config-path ./biome.json {staged_files}
  stage_fixed: true

mobile:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --config-path ./biome.json {staged_files}
  stage_fixed: true

other:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --config-path ./biome.json {staged_files}
  stage_fixed: true

🎈 feat(backend): add response schema and update presenter response types
  apps/backend/src/interface-adapter/presenters/friend-user.ts
  apps/backend/src/interface-adapter/presenters/index.ts
  apps/backend/src/interface-adapter/presenters/pack.ts
  apps/backend/src/interface-adapter/presenters/trade.ts
  apps/backend/src/interface-adapter/presenters/user.ts
  apps/backend/src/modules/auth-guard/auth-guard.plugin.ts
  apps/backend/src/modules/auth-guard/index.ts
  apps/backend/src/modules/error/index.ts
  apps/backend/src/modules/error/response.schema.ts
Due: backend

🎈 feat(backend/route): add response type
  apps/backend/src/routes/auth/logout.ts
  apps/backend/src/routes/auth/oauth-callback.ts
  apps/backend/src/routes/auth/oauth-request.ts
  apps/backend/src/routes/global-instances.ts
  apps/backend/src/routes/me/friend/apply-friend.ts
  apps/backend/src/routes/me/friend/create-friend-invite-token.ts
  apps/backend/src/routes/me/friend/get-friends.ts
  apps/backend/src/routes/me/profile.ts
  apps/backend/src/routes/pack/add-card.ts
  apps/backend/src/routes/pack/get-card-image.ts
  apps/backend/src/routes/pack/get-friend-pack.ts
  apps/backend/src/routes/pack/pack-card-collecton.ts
  apps/backend/src/routes/trade/confirm-pack-trade.ts
  apps/backend/src/routes/trade/get-all-friend-trades.ts
  apps/backend/src/routes/trade/get-trade.ts
  apps/backend/src/routes/trade/request-pack-trade.ts
Due: backend

🛠️ chore(packages/eden-fetcher): remove typecheck
  packages/eden-fetcher/package.json
Due: other

📦️ build(apps/mobiles): configure SVG support and update dependencies
  apps/mobile/metro.config.js
  apps/mobile/package.json
  pnpm-lock.yaml
Due: mobile, other

🎨 feat(generate-image): add image generation services and assets
  apps/backend/src/application/services/generate-image/fonts/chango-regular.ttf
  apps/backend/src/application/services/generate-image/fonts/m-plus-rounded1c-extra-bold.ttf
  apps/backend/src/application/services/generate-image/fonts/m-plus-rounded1c-medium.ttf
  apps/backend/src/application/services/generate-image/generate-card-image.tsx
  apps/backend/src/application/services/generate-image/generate-pack-image.tsx
  apps/backend/src/application/services/generate-image/images/calendar.png
  apps/backend/src/application/services/generate-image/images/dia.png
  apps/backend/src/application/services/generate-image/images/ex.png
  apps/backend/src/application/services/generate-image/images/logo.png
  apps/backend/src/application/services/generate-image/images/map.png
  apps/backend/src/application/services/generate-image/images/pack-default.png
  apps/backend/src/application/services/generate-image/index.ts
  apps/backend/src/application/services/generate-image/utils.ts
Due: backend

🎈 feat(backend): integrate image generation for friend packs and add get pack image use case
  apps/backend/src/application/use-cases/friend/apply-friend.usecase.ts
  apps/backend/src/application/use-cases/pack/add-card.usecase.ts
  apps/backend/src/application/use-cases/pack/generate-card-image/images/gaiji.jpg
  apps/backend/src/application/use-cases/pack/generate-card-image/index.ts
  apps/backend/src/application/use-cases/pack/get-pack-image.usecase.ts
  apps/backend/src/application/use-cases/pack/index.ts
  apps/backend/src/application/use-cases/pack/interfaces/get-pack-image.usecase.interface.ts
Due: backend

🎈 feat(backend): add generatePackImageUrl function to create image URLs for packs
  apps/backend/src/domain/entities/index.ts
  apps/backend/src/domain/entities/pack.ts
Due: backend

🎈 feat(backend): add findById method to IPackRepository for retrieving packs by ID
  apps/backend/src/interface-adapter/repositories/pack/interfaces/pack.repository.interface.ts
  apps/backend/src/interface-adapter/repositories/pack/pack.repository.ts
Due: backend

🎈 feat(backend): add imageUrl to PackResponseSchema and generate URL for pack images
  apps/backend/src/interface-adapter/presenters/pack.ts
Due: backend

🎈 feat(backend): add GetPackImage use case and router for retrieving pack images
  apps/backend/src/routes/global-instances.ts
  apps/backend/src/routes/pack/get-pack-image.ts
  apps/backend/src/routes/pack/index.ts
Due: backend

🎈 feat(backend): update build script to copy fonts and images from the new generate-image service
  apps/backend/package.json
Due: other

🎈 feat(backend): update generateCardImageUrl to use cardId and enhance TradePresenter with image URLs for cards and packs
  apps/backend/src/domain/entities/card.ts
  apps/backend/src/interface-adapter/presenters/pack.ts
  apps/backend/src/interface-adapter/presenters/trade.ts
Due: backend

🎈 feat(backend): add GetFriendTrades use case and router for retrieving trades between friends
  apps/backend/src/application/use-cases/trade/get-friend-trades.usecase.ts
  apps/backend/src/application/use-cases/trade/index.ts
  apps/backend/src/application/use-cases/trade/interfaces/get-friend-trades.usecase.interface.ts
  apps/backend/src/routes/global-instances.ts
  apps/backend/src/routes/trade/get-friend-trades.ts
  apps/backend/src/routes/trade/index.ts
Due: backend

✨ feat(frontend): impl friends page
  apps/mobile/src/app/friends/index.tsx
  apps/mobile/src/entities/friends/api/get-friends.ts
  apps/mobile/src/entities/friends/models/friend.ts
  apps/mobile/src/entities/friends/ui/friend-list.tsx
  apps/mobile/src/shared/utils/fetcher.ts
Due: mobile

🗑 chore(ci): delete typecheck
  apps/mobile/package.json
Due: other

✨ feat(ui): add BrandIcon and BrandLogo components with SVG assets
  apps/mobile/src/shared/assets/brand-icon.svg
  apps/mobile/src/shared/assets/brand-logo.svg
  apps/mobile/src/shared/ui/brand-icon.tsx
  apps/mobile/src/shared/ui/brand-logo.tsx
  apps/mobile/src/shared/ui/index.ts
Due: mobile

✨ feat(auth): implement AuthProvider and access token management
  apps/mobile/package.json
  apps/mobile/src/features/auth/config/provider.tsx
  apps/mobile/src/features/auth/index.ts
  apps/mobile/src/features/auth/models/access-token.ts
  apps/mobile/src/features/auth/types/provider.ts
  apps/mobile/src/features/theme/models/theme.ts
  packages/tailwind-helper/package.json
  pnpm-lock.yaml
Due: mobile, other

✨ feat(auth): add authentication layout and login functionality
  apps/mobile/src/app/(auth)/_layout.tsx
  apps/mobile/src/app/(auth)/login.tsx
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/_layout.tsx
Due: mobile

✨ feat(deps): add expo-barcode-scanner and react-native-qrcode-svg dependencies
  apps/mobile/app.json
  apps/mobile/package.json
  pnpm-lock.yaml
Due: other

✨ feat(friends): add QR code and camera screens, update layout for friends section
  apps/mobile/src/app/(auth)/_layout.tsx
  apps/mobile/src/app/(auth)/login.tsx
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/(with-auth)/_layout.tsx
  apps/mobile/src/app/(with-auth)/friends/_layout.tsx
  apps/mobile/src/app/(with-auth)/friends/camera.tsx
  apps/mobile/src/app/(with-auth)/friends/index.tsx
  apps/mobile/src/app/(with-auth)/friends/qr-code.tsx
  apps/mobile/src/app/(with-auth)/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/friends/index.tsx
  apps/mobile/src/entities/friends/ui/friend-list.tsx
Due: mobile

Path conditions:
  backend: any of: *.{js,ts,jsx,tsx} and ^apps/backend/
  mobile: any of: *.{js,ts,jsx,tsx} and ^apps/mobile/
  other: any of: *.{js,ts,jsx,tsx,json}, but not: apps/backend/**/*.{js,ts,jsx,tsx}, apps/mobile/**/*.{js,ts,jsx,tsx}
